* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  color: #222;
}

header {
  background: #101828;
  color: white;
  padding: 15px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  color: #66e3ff;
}

.hero {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: linear-gradient(
    135deg,
    #172554,
    #2563eb
  );

  color: white;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

button {
  background: #16a34a;
  color: white;
  border: none;
  padding: 13px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #15803d;
}

section {
  padding: 60px 7%;
}

.section-title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 32px;
}

.subject-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));

  gap: 20px;
}

.subject-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.subject-card:hover {
  transform: translateY(-5px);
}

.subject-card h3 {
  margin-bottom: 10px;
}

.notes-box {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.notes-box h3 {
  margin-top: 10px;
  color: #2563eb;
}

.notes-box p {
  margin: 10px 0 20px;
  line-height: 1.6;
}

.quiz-box {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

#question {
  margin: 20px 0;
}

.answer-btn {
  display: block;
  width: 100%;
  margin: 10px 0;
  background: #e5e7eb;
  color: #111827;
  text-align: left;
}

.answer-btn:hover {
  background: #dbeafe;
}

#next-btn {
  margin-top: 20px;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

footer {
  background: #101828;
  color: white;
  text-align: center;
  padding: 35px 20px;
  line-height: 1.8;
}

@media (max-width: 600px) {

  header {
    flex-direction: column;
    gap: 15px;
  }

  nav a {
    margin: 5px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 22px;
  }

}
